<!DOCTYPE html>

<title>Paie</title>

{% block body %}
    <h1>Paie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paie.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ paie.label }}</td>
            </tr>
            <tr>
                <th>MonthPay</th>
                <td>{{ paie.MonthPay }}</td>
            </tr>
            <tr>
                <th>YearPay</th>
                <td>{{ paie.YearPay }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_paie_index') }}">back to list</a>

    <a href="{{ path('app_paie_edit', {'id': paie.id}) }}">edit</a>

    {{ include('paie/_delete_form.html.twig') }}
{% endblock %}
